[submodule "themes/next"]
	path = themes/next
	url = https://github.com/pftom/hexo-next-theme.git
[submodule "tutorials/Instagrammy"]
	path = tutorials/Instagrammy
	url = https://github.com/mRcfps/Instagrammy.git
[submodule "tutorials/recipes_app"]
	path = tutorials/recipes_app
	url = https://github.com/mRcfps/recipes_app.git
[submodule "tutorials/vue-online-shop-backend"]
	path = tutorials/vue-online-shop-backend
	url = https://github.com/pftom/vue-online-shop-backend
[submodule "tutorials/vue-online-shop-frontend"]
	path = tutorials/vue-online-shop-frontend
	url = https://github.com/pftom/vue-online-shop-frontend.git
[submodule "tutorials/introduce-tuture"]
	path = tutorials/introduce-tuture
	url = https://github.com/studytoohard/introduce-tuture.git
